 <div id="main">
        <div class="full_bar">
        <h6>Criamos Sites para Web e Mobile</h6>
        </div>
        <div id="conteudo">
            <div class="main_bar">
               <form method="post" action="#" id="form1">
        <div id="form">
            <h2>Formulário</h2>
            
                <label for="nomeTxt" class="desc">
                    Nome<span class="lbl_obrigatorio">*</span></label>
            <input id="nomeTxt" name="nomeTxt" />
            <div class="clear">
            </div>
            
                <label for="emailTxt" class="desc">
                    E-mail<span class="lbl_obrigatorio">*</span></label>
            <input id="emailTxt" name="emailTxt" />
            <div class="clear">
            </div>
            
                <label for="telefoneTxt" class="desc">
                    Telefone</label>
            <input id="telefoneTxt" name="telefoneTxt" />
            <div class="clear">
            </div>
            
            <label for="msgTxt" class="desc">
            	Descrição do produto ou serviço<span class="lbl_obrigatorio">*</span></label>
            <textarea rows="3" id="msgTxt" cols="5" name="msgTxt"></textarea>
            <br />

            <label for="msgTxt" class="desc">
            	Público alvo</label>
            <textarea rows="3" id="publicTxt" cols="5" name="publicTxt"></textarea>
            <br />

            <label for="msgTxt" class="desc">
            	Quais dos serviços abaixo você precisa?</label>
            <input id="tipo1" name="tipo1" type="checkbox" class="checkbox" value="1">
            <label for="tipo1">WebSites para divulgação de empresa, produto ou serviço (HTML/CSS)</label>
            <br />	

            <input id="tipo2" name="tipo2" type="checkbox" class="checkbox" value="2">
            <label for="tipo2">Sistemas Web</label>
            <br />	

            <input id="tipo3" name="tipo3" type="checkbox" class="checkbox" value="3">
            <label for="tipo3">Mobile (smartphones)</label>
            <br />	

            <input id="tipo4" name="tipo4" type="checkbox" class="checkbox" value="4">
            <label for="tipo4">Comércio eletrônico (E-commerce)</label>
            <br />	

            <br />
            <div class="buttonDiv">
                <input type="button" value="Enviar" id="buttonSubmit" class="buttonSubmit" onclick="enviarEmail();" />
                <br /><br />
            </div>
        </div>
        </form>
            </div>
            <div class="side_bar">
                <h3>Telefone</h3><br />
                <ul class="social-media">
                    <li>
                        (11) 99911-4437
                    </li>
                    <li>
                        (11) 98123-1213
                    </li>
                </ul>
            </div>
            <div class="clear">
            </div>
        </div>
    </div> 