 <div id="main">
        <div class="full_bar">
        <h6>Nossa missão é fornecer produtos com máxima qualidade performance-visual.</h6>
        </div>
        <div id="conteudo">
            <div class="main_bar">
                <h1 style="text-align: center;">
                    A Pandox abre suas portas.</h1>
                <p style="text-align: center; display:block; width:100%; height: 300px;">
                    <img alt="" src="http://img.pandox.com.br/stock/IS099P43B.jpg" style="width: 100%; height:300px;" />
                </p>
                <br />
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A Pandox é uma empresa que oferece <span class="bold">
                        soluções inteligentes</span> para as necessidades de cada um de nossos clientes.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buscamos sempre a melhor alternativa para suprir
                    as demandas, oferecendo serviços de <span class="bold">qualidade</span>, com <span
                        class="bold">redução de custo</span> e <span class="bold">tempo</span>.</p>


                <div class="content_box">
                    <div class="content_box_img content_box_img_left float_left">
                        <img src="http://img.pandox.com.br/stock/stock-photo-businessman-pressing-modern-social-buttons-on-a-virtual-background-85858207.jpg" width="270" height="180" />
                    </div>

                    <div class="content_box_text float_left">
                        <span class="destaque_1 align_left"><span class="blue">Escolha</span> Pandox!</span> 
                        Buscamos a perfeição e focamos na qualidade. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</div>
                </div>


                <div class="content_box">
                    <div class="content_box_img content_box_img_right float_right">
                        <img src="http://img.pandox.com.br/stock/270-180.png" />
                    </div>

                    <div class="content_box_text float_left ">
                        <span class="destaque_1">soluções <span class="blue">WEB</span></span> 
                        Buscamos a perfeição e focamos na qualidade. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</div>
                </div>


                <div class="content_box">
                    <div class="content_box_img content_box_img_left float_left">
                        <img src="http://img.pandox.com.br/stock/stock-photo-20538868-it-engineer-in-action-configuring-servers.jpg" width="270" height="180" />
                    </div>

                    <div class="content_box_text float_left">
                        <span class="destaque_1 align_left"><span class="blue">melhor</span> conexão!</span> 
                        Escolhemos o melhor datacenter do Brasil para garantir serviços de alta 
                        qualidade para nós e nossos clientes. Desse modo, alta performance, 
                        disponibilidade e a melhor conectividade do Brasil andam em conjunto com a 
                        Pandox.</div>
                </div>
            </div>
            <div class="side_bar">
                <h3>Junte-se a nós</h3>
                <p>Saiba mais sobre a Pandox acessando nossas redes sociais.</p>
                <ul class="social-media">
                    <li>
                        <a class="social-media facebook" href="https://www.facebook.com/pages/Pandox/250157441723143" >Siga-nós no Facebook</a>
                    </li>
                    <li>
                        <a class="social-media gplus" href="http://plus.google.com" >Veja nossa página do Google+</a>
                    </li>
                    <li>
                        <a class="social-media feed" href="http://twitter.com" >Acompanhe nosso Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>