 <div id="main">
        <div class="full_bar">
        <h6>Solucionamos problemas dos clientes.</h6>
        </div>
        <div id="conteudo">
            <div class="full_bar">
                <p>
                    A Pandox é uma empresa que oferece <span class="bold"> soluções inteligentes</span> para as necessidades de cada um de nossos clientes.<br /><br /> Buscamos sempre a melhor alternativa para suprir
                    as demandas, oferecendo serviços de <span class="bold">qualidade</span>, com <span class="bold">redução de custo</span> e <span class="bold">tempo</span>.
                </p>
            </div>
            <div class="left_collum" style="text-align:center;">
            	<%= image_tag "porta.jpg", :size => "200x200" %>
            </div>
            <div class="middle_collum" style="text-align:center;">
            	<%= image_tag "porta.jpg", :size => "200x200" %>
            </div>
            <div class="right_collum" style="text-align:center;">
            	<%= image_tag "porta.jpg", :size => "200x200" %>
            </div>


            </div>
            <div class="clear">
            </div>
        </div>
    </div>