<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
        <div class="corpo">
            <div class="titulo">
                <a href="#">
                    <img src="/assets/pandox_logo_FINAL_2.png" style="border: 0;" width="238" height="108" alt="Pandox" />
                </a>
            </div>
            <div id="navigation">
                <div class="corpo">
                    <ul id="js-news" class="js-hidden">
                        <li class="news-item"><a style="color: Silver;" href="#">Lançamento da Pandox!</a></li>
                        <li class="news-item"><a style="color: Silver;" href="#">Sites simples e objetivos!</a></li>
                        <li class="news-item"><a style="color: Silver;" href="Contato.aspx">Promoções de inauguração! Entre em contato conosco para saber mais.</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>

<%= yield %>

</body>
</html>
